@using PhotosGallerySPA.Infrastructure.Services.Interfaces
@inject ISessionService sessionService;

@{
    var fullName = sessionService.GetValue("UserFullName");
    var userId = sessionService.GetValue("UserId");
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" onclick="loadPartial('/Home/_Index')">Photos Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" onclick="loadPartial('/Home/_Index')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" onclick="loadPartial('/Photo/_Photos')">Photos</a>
                </li>
            </ul>
            @if (userId is null) 
            {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#globalModal" onclick="loadPartialInModal('/User/_Login')" id="LoginBtn">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#globalModal" onclick="loadPartialInModal('/User/_Register')" id="RegisterBtn">Register</a>
                    </li>
                </ul>
            }
            else {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark">@fullName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" onclick="loadPartial('/User/_Logout')">Logout</a>
                    </li>
                </ul>
            }
            
        </div>
    </div>
</nav>